@import "bootswatch/dist/quartz/variables";
@import "bootstrap";
@import "bootswatch/dist/quartz/bootswatch";


section {
  display: none;

  &#home {
    display: block;
  }
}

.center-top-toast {
  position: fixed;
  top: 10%; /* Adjust to the distance you want from the top */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1050; /* Higher than the navbar and other elements */
}